@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: 400;
  /*src: url("../fonts/eot/Yekan\ Bakh\ Fa\ 07\ Heavy.eot");*/
  /*src: url("../fonts/woff/Yekan\ Bakh\ Fa\ 07\ Heavy.woff") format("woff"),*/
  /* IE6-8 */
  src: url("Yekan.ttf") format("truetype");
}